// feedback-section
.feedback-container {
    padding: 40px 16px;
    background: var(--feedback-background-color);
  }
  .feedback-container h2 {
    color: #000;
    font-family: Merriweather;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  .feedback-container img {
    border-radius: 4px;
    width: 100%;
  }
  
  // slider
  .slider-slide {
    padding: 10px;
    width: 250px;
  }
  .slider-slide h3 {
    color: #000;
    font-family: 'Merriweather';
    font-size: 11px;
    line-height: 1.4;
  }
  .stars {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    margin-top: 4px;
    margin-bottom: 12px;
  }
  .stars > li > svg {
    width: 10px;
    height: 10px;
  }
  .quotes {
    display: flex;
    margin-bottom: 4px;
  }
  .quotes svg {
    width: 5px;
    height: 7px;
  }
  .slider-text {
    color: #000;
    font-family: 'Roboto';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; /* 15.4px */
  }
  .quotes-bottom {
    justify-content: flex-end;
  }
  
  .slider-controls {
    display: flex;
    justify-content: space-between;
  }
  .prev-slide,
  .next-slide {
    border: none;
    background: transparent;
  }
  
  .prev-slide svg,
  .next-slide svg {
    width: 32px;
    height: 32px;
  }