.main-slogan-container{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    height: 478px;
    background: linear-gradient(
        0deg,
        rgba(2, 2, 2, 0.40) 1.01%,
        rgba(177, 170, 170, 0.40) 101.01%
      ),
      /* Добавляем ссылку на фоновое изображение */
      url('../images/mob-main-slogan.jpg');
    /* Задаем свойства фона */
    background-size: cover; /* Полностью покрывает область */
    background-position: center; /* Центрируем изображение */
}

.slogan-text h1{
    color: var(--header-white-color);
    text-align: center;
    font-family: Merriweather;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom:28px;
}
.slogan-text h3{
    color: var(--header-white-color);
    text-align: center;
    font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.4; /* 16.8px */
}

.slogan-text{
    width: 288px;
    margin: 0 auto;
}
.slogan-order-btn{
    width: 278px;
    color:var(--button-white-color);
font-weight: 700;
line-height: 1.4; 
}

// hero-section
.hero-container{
    background: var(--brown-gradient);
    padding: 40px 16px;
}
.hero-name{
    color: var(--header-white-color);
    font-family: 'Merriweather';
    line-height: 1.4;
    margin-bottom:16px;
}
.hero-name h2{
    font-size: 14px;
    margin-bottom: 8px;
}
.hero-name h1{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.hero-container img{
    border-radius: 4px;
    width: 100%;
}

.hero-section-text{
    margin-top: 24px;
}
.hero-section-text p{
    color: var(--header-white-color);
    font-family: 'Roboto';
    line-height: 1.4;
}

// achievements-section
.achievements-container{
    background: var(--achievements-background-color);
    padding: 40px 16px;
}
.achievements{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
align-self: stretch;
}

.achievements li{
    text-align: center;
}
.up-text{
    color:#0D0D0E;
    font-family: 'Manrope';
font-size: 20px;
font-weight: 700;
line-height: normal;
}
.bot-text{
    font-family: 'Roboto';
    font-weight: 600;
}
#ach-line{
    width: 1px;
height: 40px;
transform: rotate(90deg);
border-radius: 1px;
border-color: #0D0D0E; /* Цвет линии */
border-style: solid; /* Обязательно укажите стиль границы */
}