.service-types-section-container {
  padding: 50px 15px 20px 15px;
  background: var(--main-order-gradient);
}

.service-types-section-container h1 {
  color: var(--black-main-text-color);
  font-family: 'Merriweather';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.service-types-section-container p {
  color: var(--black-main-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin-bottom: 20px;
}

select {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 12px 10px;
    width: 100%;
    border: none;
    background: var(--select-bg-color);

    color: var(--black-secondary-text-color);
    text-align: center;
    font-family: 'Merriweather';
    font-weight: 700;
    line-height: 1.4;
}