:root {
    --header-white-color: #FFFDFA;
    --brown-gradient: linear-gradient(91deg, #7E7B79 0.66%, #524D45 28.33%, #211E1E 100.76%);
    --footer-background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #3A3838;
--main-white-color:#FFFFFF;






  }

  body {
    font-family: Roboto, sans-serif, Raleway;
    font-size: 14px;
    font-style: normal;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  ul,
  li,
  a,
  p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  img {
    display: block;
  }