@import 'modern-normalize/modern-normalize';
// @import '~node_modules/modern-normalize/modern-normalize.css';
@import './variables';
@import './header';
@import './footer';
@import './main-page';
@import './feedback';
@import './aboutme';
@import './order-form';
@import './service-types';
@import './steps';
@import './cases';
@import './modal-order-window';



@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


  