@media screen and (min-width: 768px) {

    .header-container {
        padding: 22px 60px;
    } 
.header-btn{
    display:block;
    padding: 10px 30px;
}
main{
    padding-top: 87px;
  }
.igor{
        font-size: 28px;
        letter-spacing: 0.56px;
        text-align: center;
}

.header-logo{
    gap:9px;
}
.line-left{
    width: 97px;
}
.scale-icon {
    width: 20px;
    height: 20px;
}
.line-right {
    width: 50px;
}




}