@media screen and (min-width: 768px) {
  .main-slogan-container {
    height: 481px;

    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url('../images/tab-main-slogan.jpg') lightgray 0px -356.803px / 100% 232.23%
        no-repeat;
    background-size: cover; /* Полностью покрывает область */
    background-position: center; /* Центрируем изображение */
    position: relative;
    margin-bottom: -5px;
  }
  .position-container {
    position: absolute;
    left: 60px;
    gap:0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.slogan-text{
   
    h1{
        font-size: 20px;
        text-align: left;
    }
    h3{
        font-size: 16px;
        text-align: left;
        margin-bottom: 60px;
        width: auto;
    }
}
.slogan-order-btn {
    font-size: 16px;
    padding: 14px 40px;
}
.hero-details{
    display: flex;
    flex-direction: row-reverse;
    
}



}
