<div class="case-description-container is-hidden">
<div class="case-card ">
  <!-- открыть flex-container -->
  <div class="case-flex-container-left">
    <div class="case-description ">
    <h2>
      Скасування постанови про притягнення до адміністративної відповідальності
    </h2>
    <h3 class="adm-law">Право: Адміністративне право</h3>
    <h3>Питання клієнта:</h3>
    <p class="case-idea">
      Клієнт звернувся до адвоката після того, як на нього був складений
      протокол за статтею 130 КУпАП (керування транспортним засобом в стані
      сп'яніння)
    </p>
    <h3 class="resolution">Вирішення питання:</h3>
    <p class="case-context">
      Обставини справи: клієнт знаходився у припаркованому автомобілі. У цей
      момент, співробітники патрульної поліції під’їхали до цього автомобіля та
      розпочали перевірку документів. Підстав для такої перевірки не було.
      Надалі працівник патрульної поліції, якій навіть не надав для ознайомлення
      своє службове посвідчення та не представився почав перевіряти реакцію очей
      Клієнта на світло без використання ліхтарику. Клієнт пояснив, що зменшена
      реакція його зіниць пов’язана з хворобою ока. Враховуючи ці показники,
      поліцейські прийшли до висновку, що останній знаходиться у стані
      наркотичного сп’яніння та запропонували пройти йому обстеження. Мій Клієнт
      пояснюючи, що йому необхідно скористатись послугами адвоката, та після
      чого він готовий проїхати зі співробітниками поліції. Співробітники
      поліції попросили Клієнта у цей момент сісти за кермо та перепаркувати
      автомобіль, вже після того, як вони йому повідомили, що підозрюють, що він
      знаходиться у стані алкогольного сп’яніння. <br /><br />
      Адвокатом було проведено аналіз матеріалів справи, після чого надано
      заперечення суду, з яких вбачалось, що працівники поліції зробили велику
      кількість процесуальних порушень. Суддя закрив цю справу, визнав Клієнта
      невинуватим, Клієнт отримав назад своє посвідчення водія.<br /><br />
      Цей кейс показує, що у разі існування процесуальних порушень зі сторони
      співробітників поліції – можливо довести справу до позитивного результату.
    </p>
    </div>
  </div> 
  <!-- закрыть flex-container -->
<!-- граница контейнера -->
  <!-- открыть flex-container -->
  <div class="case-flex-container-right">
    <h3 class="resolution">Послуги, що були надані:</h3>
    <ul>
      <li>
        Перевірка обставин справи та документації, пов'язаної з порушенням.
      </li>
      <li>
        Підготовка та подання апеляційної скарги на рішення про накладення
        штрафу.
      </li>
      <li>Представництво і захист інтересів клієнта перед судом.</li>
    </ul>
    <p class="main-idea">
      Якщо Ви або Ваші знайомі, потребують фахової та кваліфікованої юридичної
      допомоги – переходьте за посиланням “замовити консультацію” та менеджер
      вам обов'язково перетелефонує на протязі двох хвилин. <br /><br />
      Якою б не була ваша проблема в рамках адміністраного права - я маю
      стратегію для її вирішення.
    </p>
        <button type="button" class="services-btn cases-btn" data-modal-open>
            Замовити консультацію
        </button>
  </div>
    <!-- закрыть flex-container -->
</div>
</div>
