
<div class="case-description-container is-hidden">
    <div class="case-card">
    <!-- открыть flex-container -->
    <div class="case-flex-container-left">
    <div class="case-description">
    <h2>
        Представництво інтересів клієнта в суді про стягнення аліментів
    </h2>
    <h3 class="adm-law">Право: Сімейне право</h3>
    <h3>Питання клієнта:</h3>
    <p class="case-idea">
        Клієнт звернувся з проханням про видачу судового наказу про стягнення аліментів на утримання дитини.
    </p>
    <h3 class="resolution">Вирішення питання:</h3>
        <p class="case-context">
            До адвоката звернулася мати дитини з питанням стягнення аліментів на утримання неповнолітньої дитини. У ході юридичної консультації клієнт вказала, що з батьком дитини остання не проживає, матеріального забезпечення батько дитини добровільно не здійснює.<br><br>
            У зв'язку з чим вона змушена звернутися за допомогою до сімейного адвоката.<br><br>
            В подальшому адвокатом зібрано всі необхідні документи, складено заяву про видачу судового наказу та направили його до суду за підсудністю для вирішення питання про стягнення аліментів на дитину.<br><br>
            У заяві адвокат вказав всі важливі відомості, які дозволяють стягнути аліменти з батька дитини у розмірі 1/4 частини від заробітку, але не менше ніж 50% прожиткового мінімуму на дитину відповідного віку.<br><br>
            В подальшому суддею було винесено судовий наказ про стягнення аліментів на утримання дитини у розмірі 1/4 частини від заробітку, але не менше ніж 50% прожиткового мінімуму на дитину відповідного віку.
        </p>
        </div> 
    </div> 
<!-- закрыть flex-container -->
<!-- граница контейнера -->
<!-- открыть flex-container -->
    <div class="case-flex-container-right">
    <h3 class="resolution">Послуги, що були надані:</h3>
    <ul>
        <li>Перевірка обставин справи та аналіз юридичних документів.</li>
        <li>Підготовка захисту та стратегії до судового процесу.</li>
        <li>Складання та подання заяви про видачу судового наказу та інших документів у судовому порядку.</li>
        <li>Захист прав та інтересів клієнта під час судових засідань.</li>
    </ul>
    <p class="main-idea">Якщо Ви або Ваші знайомі, потребують фахової та кваліфікованої юридичної допомоги – переходьте за посиланням “замовити консультацію” та менеджер вам обов'язково перетелефонує на протязі двох хвилин. <br><br>
        Якою б не була ваша проблема в рамках сімейного права - я маю стратегію для її вирішення.</p>
 

    <button type="button" class="services-btn cases-btn" data-modal-open>
        Замовити консультацію
      </button>
    </div>
    <!-- закрыть flex-container -->
</div>
</div>