<div class="case-description-container is-hidden">
    <div class="case-card ">
    <!-- открыть flex-container -->
    <div class="case-flex-container-left">
    <div class="case-description">
    <h2>
        Розірвання шлюбу за згодою сторін
    </h2>
    <h3 class="adm-law">Право: Сімейне право</h3>
    <h3>Питання клієнта:</h3>
    <p class="case-idea">
        Клієнт звернувся до адвоката з проханням про допомогу у розлученні, враховуючи наявність спільного майна та дітей.
    </p>
    <h3 class="resolution">Вирішення питання:</h3>
    <p class="case-context">
        Клієнт звернувся до адвоката щодо розподілу майна подружжя з проханням надати правову допомогу при поділі майна у суді, яке було набуто протягом шлюбу.<br><br>
        Клієнт повідомив адвокату, що дружина ставиться критично до рівного поділу майна, як передбачено законом. Крім того, клієнт звернув увагу адвоката по розподілу майна на те, що всі майнові активи, набуті під час шлюбу, фактично зареєстровано на дружину, і вона є документальним власником всього спільного майна.<br><br>
        Також, клієнт зауважив, що у подружжя є двоє неповнолітніх дітей, які фактично проживають у спільній квартирі, а дружина використовує їх для нерівноцінного поділу квартири та іншого майна.<br><br>
        Після проведення правової оцінки документів адвокат по розподілу майна звернувся в інтересах клієнта до суду з позовною заявою про визнання майна спільною власністю подружжя та його поділ.<br><br>
        Після розгляду позиції адвоката та оцінки доказів суд задовольнив позовні вимоги клієнта.<br><br>
        Отже, на підставі рішення суду адвокат по розподілу майна зареєстрував право власності на частку квартири та іншого нерухомого майна клієнта у Державному реєстрі речових прав на нерухоме майно, і справа щодо поділу спільного майна подружжя була успішно завершена.
    </p>
    </div>
</div> 
<!-- закрыть flex-container -->
<!-- граница контейнера -->
<!-- открыть flex-container -->
<div class="case-flex-container-right">
    <h3 class="resolution">Послуги, що були надані:</h3>
    <ul>
        <li>
            Консультація: проведено детальну консультацію щодо процедури розлучення, прав та обов'язків сторін, а також можливих шляхів вирішення питань.
        </li>
        <li>
            Представництво в суді: забезпечено професійне представництво і захист інтересів клієнта в суді
        </li>
        <li>Укладення угоди: Допомога в укладенні договору між сторонами</li>
    </ul>
    <p class="main-idea">Якщо Ви або Ваші знайомі, потребують фахової та кваліфікованої юридичної допомоги – переходьте за посиланням “замовити консультацію” та менеджер вам обов'язково перетелефонує на протязі двох хвилин. <br><br>
        Якою б не була ваша проблема в рамках сімейного права - я маю стратегію для її вирішення.</p>


    <button type="button" class="services-btn cases-btn" data-modal-open>
        Замовити консультацію
      </button>
    </div>
    <!-- закрыть flex-container -->
</div>
</div>