<div class="case-description-container is-hidden">
    <div class="case-card ">
    <!-- открыть flex-container -->
    <div class="case-flex-container-left">
    <div class="case-description">
    <h2>
        Вирішення спору між бізнес-партнерами
    </h2>
    <h3 class="adm-law">Право: Цивільне право</h3>
    <h3>Питання клієнта:</h3>
    <p class="case-idea">
        Конфлікт між бізнес-партнерами, який загрожував подальшому функціонуванню їхнього підприємства.
    </p>
    <h3 class="resolution">Вирішення питання:</h3>
    <p class="case-context">
        Клієнт звернувся до адвоката з викладом обставин про конфлікт між ним та його бізнес-партнером, який загрожував подальшому припиненню функціонуванню їхньої компанії про роздрібній торгівлі автозапчастинами. Під час планування та вирішення проблеми клієнта, адвокат здійснив наступні кроки:</p>
        <ol>
            <li>Аналіз ситуації: Запроваджено ретельний аналіз всіх факторів, що спричинили конфлікт, включаючи вивчення контрактів, фінансові звіти та корпоративну структуру.</li>
            <li>Консультація з клієнтами: Проведено зустрічі з кожним з бізнес-партнерів, щодо визначення їхніх інтересів та цілей, а також з'ясовано можливі варіанти вирішення конфлікту.</li>
            <li>Посередництво та переговори: Організовано зустріч під час якої кожна сторона висловила свої погляди та пропозиції щодо вирішення конфлікту. Також, вдалось досягти узгодження позиції кожної сторони шляхом переговорів за допомогою посередника.</li>
            <li>Підготовка документів: Під час переговорів досягнуто компромісу та адвокат підготував відповідні документи, а саме угоду про вирішення спору, щоб формалізувати умови домовленостей.</li>
            <li>Подальші заходи: Роз'яснення сторонам про вжиття заходів для запобігання подібним конфліктам у майбутньому, а саме, зміна корпоративної структури їхньої компанії у вигляді однакового поділу корпоративних прав. </li>
        </ol>
    <p class="case-context">
        У випадку з схожими обставинами, необхідно заручитись допомогою адвоката та важливо діяти оперативно, щоб мінімізувати втрати і забезпечити стабільне функціонування компанії. В даному випадку медіація спрацювала бездоганно.
    </p>
</div>
    </div> 
<!-- закрыть flex-container -->
<!-- граница контейнера -->
<!-- открыть flex-container -->
    <div class="case-flex-container-right">
    <h3 class="resolution">Послуги, що були надані:</h3>
    <ul>
        <li>
            Консультація: надано консультацію сторонам, щоб визначити їхні права та обов'язки у рамках угоди.
        </li>
        <li>
            Переговори: взято участь у переговорах між сторонами з метою пошуку компромісу та уникнення судового розгляду.
        </li>
        <li>Розробка угоди: Після досягнення узгодження, розроблено угоду, що враховує інтереси обох сторін.</li>
    </ul>
    <p class="main-idea">Якщо Ви або Ваші знайомі, потребують фахової та кваліфікованої юридичної допомоги – переходьте за посиланням “замовити консультацію” та менеджер вам обов'язково перетелефонує на протязі двох хвилин. <br><br>
        Якою б не була ваша проблема в рамках цивільного права - я маю стратегію для її вирішення.</p>
    
    <button type="button" class="services-btn cases-btn" data-modal-open>
        Замовити консультацію
      </button>
    </div>
    <!-- закрыть flex-container -->
    </div>
</div>