<div class="cases-container">
    <div class="case-card-module">
      <!-- широкая карточка -->
      <div class="card-image-container wide-image">
        <div class="height-img">
          <div class="card-image euro-wide"></div>
        </div>
        <div class="caption case-caption">
          Скасування адміністративної відповідальністі
        </div>
        <include src="./partials/includes/cases/administrative-liability.html"></include>
      </div>
      <!-- узкая карточка -->
      <div class="card-image-container narrow-image">
        <div class="height-img">
          <div class="card-image bispart-narrow"></div>
        </div>
        <div class="caption case-caption">
          Вирішення спору між бізнес-партнерами
        </div>
         <include src="./partials/includes/cases/business-partner-dispute.html"></include>
      </div>
      <!-- узкая карточка -->
       <div class="card-image-container narrow-image">
        <div class="height-img">
          <div class="card-image cuttingmarriage-narrow"></div>
        </div>
          <div class="caption case-caption">
            Розірвання шлюбу за згодою сторін
          </div>
          <include src="./partials/includes/cases/amicable-divorce.html"></include>
        </div>
    </div>

   <div class="case-card-module">
       <div class="card-image-container wide-image">
        <div class="height-img">
          <div class="card-image justice-wide"></div>
        </div>
        <!-- <div class="card-image justice-narrow"></div> -->
        <div class="caption case-caption">
          Отримання відстрочки від мобілізації
        </div>
        <include src="./partials/includes/cases/military-deferment.html"></include>
      </div>
     
      <div class="card-image-container narrow-image">
        <div class="height-img">
          <div class="card-image criminal-narrow"></div>
        </div>
        <div class="caption case-caption">
          Захист клієнта в рамках кримінального провадження
        </div>
        <include src="./partials/includes/cases/criminal-defense.html"></include>
      </div>

       <div class="card-image-container narrow-image">
        <div class="height-img">
          <div class="card-image alimenty-narrow"></div>
        </div>
          <div class="caption case-caption">
            Представництво клієнта в суді про стягнення аліментів
          </div>
          <include src="./partials/includes/cases/alimony-case.html"></include>
        </div>
    </div>

    <div class="case-card-module">

      <div class="card-image-container wide-image">
        <div class="height-img">
          <div class="card-image land-wide"></div>
        </div>
        <div class="caption case-caption">
          Захист прав клієнта з питань земельних правовідносин
        </div>
        <include src="./partials/includes/cases/land-rights-protection.html"></include>
      </div>
     
      <div class="card-image-container narrow-image">
        <div class="height-img">
          <div class="card-image bayer-narrow"></div>
        </div>
        <div class="caption case-caption">
          Захист прав споживача
        </div>
        <include src="./partials/includes/cases/consumer-rights-protection.html"></include>
      </div>

       <div class="card-image-container narrow-image">
        <div class="height-img">
          <div class="card-image custom-narrow"></div>
        </div>
          <div class="caption case-caption">
            Захист прав клієнта у правовідносинах з митним органом
          </div>
          <include src="./partials/includes/cases/customs-rights-protection.html"></include>
        </div>
    </div>

  </div>