<div class="case-description-container is-hidden">
    <div class="case-card ">
    <!-- открыть flex-container -->
    <div class="case-flex-container-left">
    <div class="case-description">
    <h2>
        Захист прав споживача
    </h2>
    <h3 class="adm-law">Право: Цивільне право</h3>
    <h3>Питання клієнта:</h3>
    <p class="case-idea">
        Клієнтка звернулась до адвоката після того, як продавець (ФОП) проігнорував її вимоги на повернення коштів за не наданий товар.
    </p>
    <h3 class="resolution">Вирішення питання:</h3>
    <p class="case-context">
        Клієнтка зробила замовлення товарів, а саме кухонних виробів в інтернет-магазині. При оформленні замовлення було зазначено, що оплата здійснюється на банківський рахунок ФОП. Після оформлення замовлення у застосунку Telegram написав ФОП для уточнення даних по замовленню та оплаті товару. Клієнтка здійснила оплату товарів на рахунок продавця, після чого продавець повідомив, що відправка товара буде здійснена протягом наступного робочого дня.<br><br>
        Відтак, між клієнтом та продавцем фактично було укладено договір купівлі-продажу товару, за яким остання була зобов’язана сплатити грошові кошти за товар, а продавець надіслати товар.<br><br>
        Через три тижні клієнт за вказівками та консультацією адвоката на підставі раніше підготовлених документів звернулась до продавця з вимогою повернути сплачені кошти, оскільки товар не був надісланий. Продавець запросив реквізити для повернення коштів, але кошти так і не були повернуті.<br><br>
        В подальшому з метою захисту інтересів клієнта, адвокат надіслав продавцеві досудову претензію з вимогою повернути клієнту сплачені кошти та витрати на правову допомогу. Продавець письмової відповіді не надав, але через три дні після отримання претензії повернув повну суму, яка вимагалась у претензії, банківським переказом.<br><br>
        Такий кейс доводить, що у разі існування подібних спорів – не завжди обов’язково одразу звертатися до суду. Адвокатом прикладаються всі зусилля з метою вирішенням спорів щодо захисту прав споживачів у досудовому порядку.
    </p>

</div>
</div> 
<!-- закрыть flex-container -->
<!-- граница контейнера -->
<!-- открыть flex-container -->
<div class="case-flex-container-right">
    <h3 class="resolution">Послуги, що були надані:</h3>
    <ul>
        <li>
            Консультація клієнта з подальшим роз'ясненням алгоритму дій Клієнта. 
        </li>
        <li>
            Підготовка та подання заяви до ТЦК та СП з метою отримання відстрочки.
        </li>
        <li>Скерування адвокатського запиту щодо витребування необхідної інформації.</li>
    </ul>
    <p class="main-idea">Якщо Ви або Ваші знайомі, потребують фахової та кваліфікованої юридичної допомоги – переходьте за посиланням “замовити консультацію” та менеджер вам обов'язково перетелефонує на протязі двох хвилин. <br><br>
        Якою б не була ваша проблема в рамках цивільного права - я маю стратегію для її вирішення.
    </p>

    <button type="button" class="services-btn cases-btn" data-modal-open>
        Замовити консультацію
      </button>
    </div>
    <!-- закрыть flex-container -->
    </div>
</div>