<div class="case-description-container is-hidden">
    <div class="case-card ">
    
    <!-- открыть flex-container -->
    <div class="case-flex-container-left">
    <div class="case-description">
    <h2>
        Захист клієнта в рамках кримінального провадження
    </h2>
    <h3 class="adm-law">Право: Кримінальне право</h3>
    <h3>Питання клієнта:</h3>
    <p class="case-idea">
        Клієнт звернувся до адвоката за захистом у кримінальному провадженні за ч. 5 статті 407 КК України.
    </p>
    <h3 class="resolution">Вирішення питання:</h3>
    <p class="case-context">
        До адвоката звернувся військовослужбовець, який через певні обставини потрапив у самовільне залишення військової частини (СЗЧ).<br><br>
        Основним завданням яке було обумовлено з клієнтом - це мінімізація покарання під час винесення судом обвинувального вироку.<br><br>
        Клієнту було надано рекомендації на проходження медичного огляду та лікування захворювань які загострилися в ході несення військової служби. Крім того, в ході досудового розслідування за фактом здійснення військовослужбовцем СЗЧ (частина 5, стаття 407 ККУ), було ініційовано проходження повторне ВЛК.<br><br>
        Як наслідок, стан здоров’я військовослужбовця був зарахований стороною обвинувачення та було запропоновано укладання угоди про визнання винуватості з визначеним покаранням у вигляді обмеження волі строком на 1 рік та на підставі ст. 75 КК України звільнено від відбування покарання, встановивши іспитовий строк 1 рік. Таке покарання, є найлегшим з усіх можливих за санкцією вищевказаної статті кримінального кодексу.
    </p>
</div>
</div> 
<!-- закрыть flex-container -->
<!-- граница контейнера -->
<!-- открыть flex-container -->
<div class="case-flex-container-right">

    <h3 class="resolution">Послуги, що були надані:</h3>
    <ul>
        <li>
            Юридична консультація щодо захисту підозрюваного на стадії досудового розслідування та під час розгляду обвинувального акту в суді першої інстанції.
        </li>
        <li>
            Підготовка та подання клопотань та скарг до органу досудового розслідування та процесуального керівника.
        </li>
        <li>Участь адвоката під час проведення судових засідань.</li>
    </ul>
    <p class="main-idea">Якщо Ви або Ваші знайомі, потребують фахової та кваліфікованої юридичної допомоги – переходьте за посиланням “замовити консультацію” та менеджер вам обов'язково перетелефонує на протязі двох хвилин. <br><br>
        Якою б не була ваша проблема в рамках кримінального права - я маю стратегію для її вирішення.</p>


    <button type="button" class="services-btn cases-btn" data-modal-open>
        Замовити консультацію
      </button>
    </div>
    <!-- закрыть flex-container -->
</div>
</div>