<div class="case-description-container is-hidden">
    <div class="case-card ">
    <!-- открыть flex-container -->
    <div class="case-flex-container-left">
    <div class="case-description">
    <h2>
        Захист прав клієнта у правовідносинах з митним органом
    </h2>
    <h3 class="adm-law">Право: Митне право</h3>
    <h3>Питання клієнта:</h3>
    <p class="case-idea">
        Клієнт звернувся до адвоката після того, як працівники митного органа незаконно склали протокол про адміністративне правопорушення з накладенням на останнього стягнення у виді конфіскації вилучених речей та накладенням штрафних санкцій.
    </p>
    <h3 class="resolution">Вирішення питання:</h3>
    <p class="case-context">
        Клієнт, повертаючись з території Польської Республіки, ввозив у ручній поклажі власне фотообладнання вартістю 700 000 гривень. Обладнання використовується ним для ведення господарської діяльності. Митні органи, засумнівавшись у легальності ввезення такого обладнання, вилучили таке обладнання та склали протокол про порушення правил проходження митного контролю.<br><br>
Надалі Митний орган провів експертизу, де встановив, що вартість обладнання становить – 700 000 гривень, і клієнт має сплатити ввізний збір та ПДВ для отримання вилученого обладнання. Складність роботи полягала в тому, що клієнт не мав документів, що підтверджують придбання зазначеного обладнання.<br><br>
В подальшому адвокат розробив стратегію захисту, зібрав докази на підтвердження придбання фотообладнання та успішно відстояв інтереси клієнта у суді. Як результат – провадження закрито, а обладнання повернуто клієнту без сплати будь-яких зборів та платежів.<br><br>
Такий кейс доводить, що у разі існування подібних спорів – кваліфікація та фахове знання адвоката має ключе значення для позитивного вирішення питання. Адвокатом прикладаються всі зусилля для подальшої стратегії захисту інтересів клієнта, тим паче креативний підхід до будь-якої проблемної справи. 
    </p>
</div>
    </div> 
<!-- закрыть flex-container -->
<!-- граница контейнера -->
<!-- открыть flex-container -->
    <div class="case-flex-container-right">
    <h3 class="resolution">Послуги, що були надані:</h3>
    <ul>
        <li>
            Встановлення обставин походження ввезеного обладнання.
        </li>
        <li>
            Консультація клієнта щодо подальшої побудови захисту підтвердження придбання фотообладнання.
        </li>
        <li>Підготовка та подання процесуальних документів до суду.</li>
        <li>Безпосереднє участь адвоката у судовому засіданні.</li>
    </ul>
    <p class="main-idea">Якщо Ви або Ваші знайомі, потребують фахової та кваліфікованої юридичної допомоги – переходьте за посиланням “замовити консультацію” та менеджер вам обов'язково перетелефонує на протязі двох хвилин. <br><br>
        Якою б не була ваша проблема в рамках митного права - я маю стратегію для її вирішення.</p>
 

    <button type="button" class="services-btn cases-btn" data-modal-open>
        Замовити консультацію
      </button>
    </div>
    <!-- закрыть flex-container -->
</div>
</div>