<div class="case-description-container is-hidden">
    <div class="case-card ">
    <!-- открыть flex-container -->
    <div class="case-flex-container-left">
    <div class="case-description">
    <h2>
        Захист прав клієнта з питань земельних правовідносин
    </h2>
    <h3 class="adm-law">Право: Земельне право</h3>
    <h3>Питання клієнта:</h3>
    <p class="case-idea">
        Юридичний супровід клієнта під час процедури оформлення прав власності на земельну ділянку
    </p>
    <h3 class="resolution">Вирішення питання:</h3>
    <p class="case-context">
        Кожен громадянин має право на безоплатне отримання у власність земельної ділянки один раз по кожному виду цільового призначення – це буква закону.<br><br>
        Однак на практиці далеко не завжди вдається скористатися своїм гарантованим правом, тим паче, коли повноваження з розпорядження обраними клієнтом земельними ділянками в результаті «земельної децентралізації» перейшли до однієї з територіальних громад.<br><br>
        Адвокатом вдалося захистити права клієнта від можливих порушень і зловживань з боку органів місцевого самоврядування та отримати позитивні рішення територіальної громади «Про надання дозволів на розробку проектів землеустрою щодо відведення земельних ділянок».<br><br>
        Наступним етапом юридичного супроводу було виготовлення документацій із землеустрою та формування земельних ділянок у Державному земельному кадастрі
    </p>
</div>
</div> 
<!-- закрыть flex-container -->
<!-- граница контейнера -->
<!-- открыть flex-container -->
<div class="case-flex-container-right">

    <h3 class="resolution">Послуги, що були надані:</h3>
    <ul>
        <li>
            Детальне роз'яснення клієнту вимог законодавства про отримання у власність земельної ділянки.
        </li>
        <li>
            Підготовка та подання процесуальних документів до органів державної влади.
        </li>
        <li>Безпосереднє участь адвоката у комунікації з органами місцевого самоврядування.</li>
        <li>Звернення адвоката з заявою та долученням підтверджуючих документів про відведення земельної ділянки до Державного земельного кадастру з метою отримання кадастрового номеру.</li>
    </ul>
    <p class="main-idea">Якщо Ви або Ваші знайомі, потребують фахової та кваліфікованої юридичної допомоги – переходьте за посиланням “замовити консультацію” та менеджер вам обов'язково перетелефонує на протязі двох хвилин. <br><br>
        Якою б не була ваша проблема в рамках земельного права - я маю стратегію для її вирішення.</p>


    <button type="button" class="services-btn cases-btn" data-modal-open>
        Замовити консультацію
      </button>
    </div>
    <!-- закрыть flex-container -->
</div>
</div>