<div class="case-description-container is-hidden">
    <div class="case-card ">
    <!-- открыть flex-container -->
    <div class="case-flex-container-left">
    <div class="case-description">
    <h2>
        Отримання відстрочки від мобілізації
    </h2>
    <h3 class="adm-law">Право: Військове право</h3>
    <h3>Питання клієнта:</h3>
    <p class="case-idea">
        До адвоката звернувся Клієнт з метою отримання консультації по відстрочці від мобілізації.
    </p>
    <h3 class="resolution">Вирішення питання:</h3>
    <p class="case-context">
        У Клієнта були законні підстави для оформлення відстрочки від мобілізації, а саме здійснення постійного догляду за братом, який є особою з інвалідністю.<br><br>
        Адвокат на консультації були проаналізовані документи та підстави для відстрочки та в подальшому Клієнту було роз'яснено процедуру, строки оформлення відстрочки та алгоритм поведінки в ТЦК та СП.<br><br>
        З Клієнтом був підписаний договір про надання правової допомоги.<br><br>
        Клієнт не виявив бажання йти в ТЦК та СП, тому що можуть бути порушені його права.<br><br>
        В подальшому адвокатом підготовлено заяву на відстрочку, в якій була аргументована позицію Клієнта з посиланнями на нормативно-правові акти, крім того до заяви був долучений необхідний пакет документів на підтвердження обставин здійснення догляду за братом.<br><br>
        Після того, як пройшов строк розгляду заяви, був направлений адвокатський запит, щоб отримати інформацію щодо стану розгляду заяви на відстрочку.<br><br>
        У підсумку Клієнт отримав позитивну відповідь з ТЦК та СП, в якій було зазначено, що йому надана відстрочка від мобілізації строком на 6 місяців.
    </p>
</div>
    </div> 
<!-- закрыть flex-container -->
<!-- граница контейнера -->
<!-- открыть flex-container -->
    <div class="case-flex-container-right">
    <h3 class="resolution">Послуги, що були надані:</h3>
    <ul>
        <li>
            Консультація клієнта з подальшим роз'ясненням алгоритму дій Клієнта. 
        </li>
        <li>
            Підготовка та подання заяви до ТЦК та СП з метою отримання відстрочки.
        </li>
        <li>Скерування адвокатського запиту щодо витребування необхідної інформації.</li>
    </ul>
    <p class="main-idea">Якщо Ви або Ваші знайомі, потребують фахової та кваліфікованої юридичної допомоги – переходьте за посиланням “замовити консультацію” та менеджер вам обов'язково перетелефонує на протязі двох хвилин. <br><br>
        Якою б не була ваша проблема в рамках військового права - я маю стратегію для її вирішення.</p>
    
    <button type="button" class="services-btn cases-btn" data-modal-open>
        Замовити консультацію
      </button>
    </div>
    <!-- закрыть flex-container -->
</div>
</div>