<div class="feedback-section">
           
    <div class="main-feedback-slider">
        <div class="main-slider-wrapper">
            <!-- Здесь будет ваш слайдер -->
            <div class="slider-slide active">
              <h3>Яна Зінченко</h3>
              <ul class="stars-mob">
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star"></use>
                </svg>
                </li>
  
              </ul>
              <ul class="stars">
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star-1"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star-1"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star-1"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star-1"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star-1"></use>
                </svg>
                </li>
  
              </ul>
              <div class="quotes">
                <svg>
                    <use href="././images/sprite.svg#quotes"></use>
                </svg>
                <svg>
                  <use href="././images/sprite.svg#quotes"></use>
                </svg>
              </div>
              <p class="slider-text">Безмежно вдячна адвокату! За вчасно надану професійну допомогу! Людина фанат своєї справи! Спочатку надав консультацію по телефону, все детально розʼяснивши, потім запросив в офіс, де детально ознайомився з моє. справою, швидко склав варіанти моїх подальших дій. 
                Хочу виразити вдячність за чесність і людяне ставлення! Також за виграну мою справу в суді!</p>
                <div class="quotes quotes-bottom">
                  <svg>
                      <use href="././images/sprite.svg#quotes"></use>
                  </svg>
                  <svg>
                    <use href="././images/sprite.svg#quotes"></use>
                  </svg>
                </div>
  
            </div>
      <div class="slider-slide">
              <h3>Ірина Коваленко</h3>
              <ul class="stars-mob">
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star"></use>
                </svg>
                </li>
  
              </ul>
              <ul class="stars">
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star-1"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star-1"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star-1"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star-1"></use>
                </svg>
                </li>
                <li>
                  <svg>
                    <use href="././images/sprite.svg#star-1"></use>
                </svg>
                </li>
  
              </ul>
              <div class="quotes">
                <svg>
                    <use href="././images/sprite.svg#quotes"></use>
                </svg>
                <svg>
                  <use href="././images/sprite.svg#quotes"></use>
                </svg>
              </div>
              <p class="slider-text">Адвокат Ігор Тарасенко виявився справжнім порятунком у складній правовій ситуації. Він не лише надав відмінну юридичну консультацію, але й зробив все можливе, щоб моя справа завершилася успішно. Велике спасибі за вашу роботу та привітне ставлення до клієнтів!
                Рекомендую Ігоря Тарасенко всім, хто потребує надійного юридичного супроводу та успішного вирішення своїх правових питань!</p>
                <div class="quotes quotes-bottom">
                  <svg>
                      <use href="././images/sprite.svg#quotes"></use>
                  </svg>
                  <svg>
                    <use href="././images/sprite.svg#quotes"></use>
                  </svg>
                </div>
      </div>

      <div class="slider-slide">
        <h3>Максим Сидоренко</h3>
        <ul class="stars-mob">
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>

        </ul>
        <ul class="stars">
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>

        </ul>
        <div class="quotes">
          <svg>
              <use href="././images/sprite.svg#quotes"></use>
          </svg>
          <svg>
            <use href="././images/sprite.svg#quotes"></use>
          </svg>
        </div>
        <p class="slider-text">Перебуваючи в скрутній ситуації, я звернувся до адвоката Ігоря Тарасенко. Його професійний підхід та пильне ставлення до моїх проблем дуже мене вразили. Він надав мені не лише юридичну допомогу, але й психологічну підтримку, що було дуже важливо у цей непростий період. <br> 
          Щиро рекомендую його послуги для всіх, хто потребує компетентного та надійного адвоката</p>
          <div class="quotes quotes-bottom">
            <svg>
                <use href="././images/sprite.svg#quotes"></use>
            </svg>
            <svg>
              <use href="././images/sprite.svg#quotes"></use>
            </svg>
          </div>
      </div>

      <div class="slider-slide">
        <h3>Олена Петренко</h3>
        <ul class="stars-mob">
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>

        </ul>
        <ul class="stars">
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>

        </ul>
        <div class="quotes">
          <svg>
              <use href="././images/sprite.svg#quotes"></use>
          </svg>
          <svg>
            <use href="././images/sprite.svg#quotes"></use>
          </svg>
        </div>
        <p class="slider-text">Ігор Тарасенко - це людина, на яку можна покластися у будь-якій ситуації. Він допоміг мені зрозуміти мої права та захистити їх. Завдяки професійному підходу Ігоря та знанням закону мені вдалося відстояти свої права та отримати законну частку спадщини. Він завжди був на зв'язку, чітко пояснював всі нюанси справи та давав слушні поради. Я рекомендую його всім, кому потрібна юридична допомога.</p>
          <div class="quotes quotes-bottom">
            <svg>
                <use href="././images/sprite.svg#quotes"></use>
            </svg>
            <svg>
              <use href="././images/sprite.svg#quotes"></use>
            </svg>
          </div>
      </div>

      <div class="slider-slide">
        <h3>Андрій Іванов</h3>
        <ul class="stars-mob">
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>

        </ul>
        <ul class="stars">
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>

        </ul>
        <div class="quotes">
          <svg>
              <use href="././images/sprite.svg#quotes"></use>
          </svg>
          <svg>
            <use href="././images/sprite.svg#quotes"></use>
          </svg>
        </div>
        <p class="slider-text">Звертався до Ігоря Тарасенко за допомогою у справі про стягнення заборгованості з контрагента. Ігор професійно склав претензію та позовну заяву, а також представляв мої інтереси в суді. Завдяки його відмінній роботі мені вдалося стягнути заборгованість у повному обсязі. Я рекомендую Ігоря всім, хто має проблеми з господарськими договорами та стягненням заборгованості.</p>
          <div class="quotes quotes-bottom">
            <svg>
                <use href="././images/sprite.svg#quotes"></use>
            </svg>
            <svg>
              <use href="././images/sprite.svg#quotes"></use>
            </svg>
          </div>
      </div>

      <div class="slider-slide">
        <h3>Наталія Литвиненко</h3>
        <ul class="stars-mob">
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>

        </ul>
        <ul class="stars">
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>

        </ul>
        <div class="quotes">
          <svg>
              <use href="././images/sprite.svg#quotes"></use>
          </svg>
          <svg>
            <use href="././images/sprite.svg#quotes"></use>
          </svg>
        </div>
        <p class="slider-text">Хочу подякувати адвокату за допомогу в оформленні візи до США. Тарасенко Ігор детально проконсультував мене з усіма нюансами візової процедури, допоміг зібрати необхідні документи та правильно заповнити анкету. Завдяки його допомозі я отримала візу без жодних проблем. Я рекомендую адвоката Тарасенко Ігоря всім, хто хоче оформити візу та дозвіл на проживання в іншій країні.</p>
          <div class="quotes quotes-bottom">
            <svg>
                <use href="././images/sprite.svg#quotes"></use>
            </svg>
            <svg>
              <use href="././images/sprite.svg#quotes"></use>
            </svg>
          </div>
      </div>

      <div class="slider-slide">
        <h3>Олег Хоменко</h3>
        <ul class="stars-mob">
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>

        </ul>
        <ul class="stars">
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>

        </ul>
        <div class="quotes">
          <svg>
              <use href="././images/sprite.svg#quotes"></use>
          </svg>
          <svg>
            <use href="././images/sprite.svg#quotes"></use>
          </svg>
        </div>
        <p class="slider-text">Звертався до Тарасенко І. за допомогою у справі про реєстрацію свого ТОВ. Адвокат грамотно склав всі необхідні документи та супроводив процес реєстрації на всіх етапах. Щиро дякую за вашу підтримку та професіоналізм!</p>
          <div class="quotes quotes-bottom">
            <svg>
                <use href="././images/sprite.svg#quotes"></use>
            </svg>
            <svg>
              <use href="././images/sprite.svg#quotes"></use>
            </svg>
          </div>
      </div>

      <div class="slider-slide">
        <h3>Іван Ковальчук</h3>
        <ul class="stars-mob">
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>

        </ul>
        <ul class="stars">
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>

        </ul>
        <div class="quotes">
          <svg>
              <use href="././images/sprite.svg#quotes"></use>
          </svg>
          <svg>
            <use href="././images/sprite.svg#quotes"></use>
          </svg>
        </div>
        <p class="slider-text">Після консультації з Ігорем Тарасенко, я отримав цінні поради з приводу реєстрації авторських прав на свою книгу. Його експертність та вміння роз'яснити складні питання були надзвичайно корисні. Я впевнений у тому, що зараз мій контент захищений від будь-яких порушень. Щиро рекомендую Ігоря Тарасенко всім, хто шукає надійного адвоката у справах із захисту авторських прав.</p>
          <div class="quotes quotes-bottom">
            <svg>
                <use href="././images/sprite.svg#quotes"></use>
            </svg>
            <svg>
              <use href="././images/sprite.svg#quotes"></use>
            </svg>
          </div>
      </div>

      <div class="slider-slide">
        <h3>Марія Пчілка</h3>
        <ul class="stars-mob">
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>

        </ul>
        <ul class="stars">
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>

        </ul>
        <div class="quotes">
          <svg>
              <use href="././images/sprite.svg#quotes"></use>
          </svg>
          <svg>
            <use href="././images/sprite.svg#quotes"></use>
          </svg>
        </div>
        <p class="slider-text">Мене звати Марія. Зверталася до адвоката Ігоря Тарасенко у справі про стягнення заборгованості з мене. Адвокат надав мені вичерпну консультацію щодо моїх прав та можливостей. Він виявився професійною людиною і допоміг мені знайти компроміс з кредитором. Рекомендую Ігоря Тарасенко як професійного експерта в своїй справі.</p>
          <div class="quotes quotes-bottom">
            <svg>
                <use href="././images/sprite.svg#quotes"></use>
            </svg>
            <svg>
              <use href="././images/sprite.svg#quotes"></use>
            </svg>
          </div>
      </div>

      <div class="slider-slide">
        <h3>Віталій Михайленко</h3>
        <ul class="stars-mob">
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star"></use>
          </svg>
          </li>

        </ul>
        <ul class="stars">
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>
          <li>
            <svg>
              <use href="././images/sprite.svg#star-1"></use>
          </svg>
          </li>

        </ul>
        <div class="quotes">
          <svg>
              <use href="././images/sprite.svg#quotes"></use>
          </svg>
          <svg>
            <use href="././images/sprite.svg#quotes"></use>
          </svg>
        </div>
        <p class="slider-text">Мені довелося звертатися до адвоката у складній ситуації, пов'язаній з порушенням моїх авторських прав. Ігор проявив велику експертизу в інтелектуальному праві та надав індивідуальну стратегію захисту. Дякуючи його професіоналізму та наполегливості, мої права були успішно захищені в суді.</p>
          <div class="quotes quotes-bottom">
            <svg>
                <use href="././images/sprite.svg#quotes"></use>
            </svg>
            <svg>
              <use href="././images/sprite.svg#quotes"></use>
            </svg>
          </div>
      </div>
            <!-- Добавьте другие слайды по аналогии -->
        </div>
        <div class="slider-controls">
          <button class="main-prev-slide">
            <svg>
              <use href="././images/sprite.svg#icon-arrow-left"></use>
          </svg>
          </button>
          <button class="main-next-slide">
            <svg>
              <use href="././images/sprite.svg#icon-arrow-right"></use>
          </svg>
          </button>
        </div>
    </div>


</div>