<section class="feedback-section">
    <div class="feedback-container">
      <h2>Відгуки клієнтів</h2>
      <img src="./images/feedback.jpg" alt="Пише в щоденник"/>
      <div class="feedback-slider">
          <div class="slider-wrapper">
              <!-- Здесь будет ваш слайдер -->
              <div class="slider-slide">
                <h3>Яна Зінченко</h3>
                <ul class="stars">
                  <li>
                    <svg>
                      <use href="././images/sprite.svg#star"></use>
                  </svg>
                  </li>
                  <li>
                    <svg>
                      <use href="././images/sprite.svg#star"></use>
                  </svg>
                  </li>
                  <li>
                    <svg>
                      <use href="././images/sprite.svg#star"></use>
                  </svg>
                  </li>
                  <li>
                    <svg>
                      <use href="././images/sprite.svg#star"></use>
                  </svg>
                  </li>
                  <li>
                    <svg>
                      <use href="././images/sprite.svg#star"></use>
                  </svg>
                  </li>
    
                </ul>
                <div class="quotes">
                  <svg>
                      <use href="././images/sprite.svg#quotes"></use>
                  </svg>
                  <svg>
                    <use href="././images/sprite.svg#quotes"></use>
                  </svg>
                </div>
                <p class="slider-text">Безмежно вдячна адвокату! За вчасно надану професійну допомогу! Людина фанат своєї справи! Спочатку надав консультацію по телефону, все детально розʼяснивши, потім запросив в офіс, де детально ознайомився з моє. справою, швидко склав варіанти моїх подальших дій. 
                  Хочу виразити вдячність за чесність і людяне ставлення! Також за виграну мою справу в суді!</p>
                  <div class="quotes quotes-bottom">
                    <svg>
                        <use href="././images/sprite.svg#quotes"></use>
                    </svg>
                    <svg>
                      <use href="././images/sprite.svg#quotes"></use>
                    </svg>
                  </div>
    
              </div>
              <!-- <div class="slider-slide">
                <img src="#" alt="Слайд 2">
                <p>Описание слайда 2</p>
              </div> -->
              <!-- Добавьте другие слайды по аналогии -->
          </div>
          <div class="slider-controls">
            <button class="prev-slide">
              <svg>
                <use href="././images/sprite.svg#icon-arrow-left"></use>
            </svg>
            </button>
            <button class="next-slide">
              <svg>
                <use href="././images/sprite.svg#icon-arrow-right"></use>
            </svg>
            </button>
          </div>
      </div>
    </div>
    </section>