<footer>
    <div class="footer-container">
        <div class="name-logo">
            <h1 class="igor">ігор тарасенко</h1>
            <ul class="header-logo">
              <li><hr class="line-left" /></li>
              <li class="label">Адвокат</li>
              <li>
                <svg class="scale-icon" width="14" height="15">
                  <use href="././images/sprite.svg#scale"></use>
                </svg>
              </li>
              <li><hr class="line-right" /></li>
            </ul>
            <h3 class="logo-slogan">Крізь терни до зірок</h3>
        </div>
        <div class="burger-menu">
            <button type="button" class="mobile-menu-open" data-menu-open>
                <svg width="24" height="24">
                    <use href="././images/sprite.svg#burger-menu"></use>
                  </svg>
                </button>
        </div>
        <div class="socials">
            <h3>Я в соціальних мережах</h3>
            <ul class="social-icons">
                <li>
                    <svg class="s-icon">
                        <use href="././images/sprite.svg#facebook-icon"></use>
                    </svg>
                </li>
                <li>
                    <svg class="s-icon">
                        <use href="././images/sprite.svg#instagram-icon"></use>
                    </svg>
                </li>
                <li>
                    <svg class="s-icon">
                        <use href="././images/sprite.svg#tik-tok-icon"></use>
                    </svg>
                </li>
                <li>
                    <svg class="s-icon">
                        <use href="././images/sprite.svg#telegram-icon"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <div class="all-rigts">
            <h3>​​​​© 2024 Igor Tarasenko</h3>
        </div>
    </div>
</footer>