<footer>
  <div class="footer-container">
    <div class="footer-nav-container">
    <nav>
      <ul class="list-mobile_nav">
        <li>
          <a href="index.html" class="mobile-menu_link current">Головна</a>
        </li>
        <li>
          <a href="aboutme.html" class="mobile-menu_link">Про мене</a>
        </li>
        <li>
          <a href="migration-services.html" class="mobile-menu_link"
            >Послуги</a
          >
        </li>
        <li>
          <a href="cases.html" class="mobile-menu_link">Кейси з практики</a>
        </li>
        <li><a href="contacts.html" class="mobile-menu_link">Контакти</a></li>
      </ul>
    </nav>
  </div>
    <div class="name-logo">
      <a href="index.html" class="header-link">
        <h2 class="igor">ігор тарасенко</h2>
        <ul class="header-logo">
          <li><hr class="line-left" /></li>
          <li class="label">Адвокат</li>
          <li>
            <svg class="scale-icon" width="14" height="15">
              <use href="././images/sprite.svg#scale"></use>
            </svg>
          </li>
          <li><hr class="line-right" /></li>
        </ul>
        <h3 class="logo-slogan">Крізь терни до зірок</h3>
      </a>
    </div>
    <!-- Кнопка бургер-меню -->
    <div class="burger-menu bm-footer-tab">
      <button type="button" class="mobile-menu-open" data-menu-open>
        <svg width="24" height="24">
          <use href="././images/sprite.svg#burger-menu"></use>
        </svg>
      </button>
    </div>
    <div class="socials">
      <h3>Я в соціальних мережах</h3>
      <ul class="social-icons">
        <li>
          <a
            href="https://www.facebook.com/people/%D0%90%D0%B4%D0%B2%D0%BE%D0%BA%D0%B0%D1%82-%D0%A2%D0%B0%D1%80%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE-%D0%86%D0%B3%D0%BE%D1%80/100017282700952/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="social-link"
          >
            <svg class="s-icon">
              <use href="././images/sprite.svg#facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/advokat_tarasenko.igor/?igsh=MXJhaXV5b2pub2RqZw%3D%3D&utm_source=qr&fbclid=IwZXh0bgNhZW0CMTAAAR13Rd_rtg0q-4wxGECrmT_cR7aM8Y96sesxD4-NMQNLBCv0pKIxgRglWf0_aem_AYH6V8Rf5FNgWzJ0cyZRjps1Q1pKR-iuZDvSQ_iT7FJNMvx0xfsqs0NbOOXJOx4nFKQWk3KFCg5w-_fqsugCkWC9"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="social-link"
          >
            <svg class="s-icon">
              <use href="././images/sprite.svg#instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.tiktok.com/@advokat_tarasenko.igor?_t=8lFtmgEHcv8&_r=1&fbclid=IwZXh0bgNhZW0CMTAAAR1eUkrXfgNbYEwopbRMUx5-ObCBmXVaJmma4vADVEHv_IqryWgIXtuSQZ4_aem_AYGwpNcUuGjA6W0gYkLxMJXIsQQxCtNQv_dpjQhn-Uwy2MRwCsq536HMT10TaQxBfozoe2t_SbIbRJaBWimOTSls"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="social-link"
          >
            <svg class="s-icon">
              <use href="././images/sprite.svg#tik-tok-icon"></use>
            </svg>
          </a>
        </li>
        <li class="hidden-viber">
          <a
            href="viber://chat?number=380937531516"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="social-link"
          >
            <svg class="s-icon">
              <use href="././images/sprite.svg#icon-viber"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            href="https://t.me/Advokat_Tarasenko_Igor"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="social-link"
          >
            <svg class="s-icon">
              <use href="././images/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
    <div class="all-rights">
      <h3>​​​​© 2024 Igor Tarasenko</h3>
      <h3><a href="./about-me/index.html">Created by Maksym Chukhrai</a></h3>
    </div>
  
</footer>
