<header>
  <div class="header-pos-container">
  <div class="header-container">
    <div class="header-name-logo">
      <a href="index.html" class="header-link">
        <h2 class="igor">ігор тарасенко</h2>
        <ul class="header-logo">
          <li><hr class="line-left" /></li>
          <li class="label">Адвокат</li>
          <li>
            <svg class="scale-icon" width="14" height="15">
              <use href="././images/sprite.svg#scale"></use>
            </svg>
          </li>
          <li><hr class="line-right" /></li>
        </ul>
      </a>
    </div>
    <nav>
        <ul class="nav-links">
          <li> <a href="index.html" class="header-menu_link">Головна</a></li>
          <li><a href="aboutme.html" class="header-menu_link">Про мене</a></li>
          <li> <a href="migration-services.html" class="header-menu_link">Послуги</a></li>
          <li><a href="cases.html" class="header-menu_link">Кейси з практики</a></li>
          <li><a href="contacts.html" class="header-menu_link">Контакти</a></li>
        </ul>
  </nav>
    <button type="button" class="order-btn header-btn" data-modal-open="">
      Замовити консультацію
    </button>
    <!-- Кнопка бургер-меню -->
    <div class="burger-menu">
      <button type="button" class="mobile-menu-open" data-menu-open>
        <svg width="24" height="24">
          <use href="././images/sprite.svg#burger-menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <!-- Мобільне бургер-меню -->
  <div class="mobile-menu" data-menu>
    <div class="mobile-menu-background"></div>
    <div class="mobile-menu-overlay"></div>
    <div class="mobile-menu_container">
      <button class="mobile-menu_close-btn" data-menu-close>
        <svg class="mobile-menu_close-icon" width="24" height="24">
          <use href="././images/sprite.svg#close-cross"></use>
        </svg>
      </button>
      <div class="name-logo ">
        <h2 class="igor">ігор тарасенко</h2>
        <ul class="header-logo">
          <li><hr class="line-left" /></li>
          <li class="label">Адвокат</li>
          <li>
            <svg class="scale-icon" width="14" height="15">
              <use href="././images/sprite.svg#scale"></use>
            </svg>
          </li>
          <li><hr class="line-right" /></li>
        </ul>
      </div>
      <div class="menu-img">
        <img src="./images/area-2_352x234.webp">
      </div>
      <nav>
        <ul class="list-mobile_nav header-nav-menu">
          <li>
            <a href="index.html" class="mobile-menu_link ">Головна</a>
          </li>
          <li>
            <a href="aboutme.html" class="mobile-menu_link">Про мене</a>
          </li>
          <li>
            <a href="migration-services.html" class="mobile-menu_link"
              >Послуги</a
            >
          </li>
          <li>
            <a href="cases.html" class="mobile-menu_link">Кейси з практики</a>
          </li>
          <li><a href="contacts.html" class="mobile-menu_link">Контакти</a></li>
        </ul>
      </nav>
      <button type="button" class="order-btn header-nav-menu-btn" data-modal-open>
        Замовити консультацію
      </button>
    </div>
  </div>
</div>
</header>
