<!-- src\partials\includes\modal-thanks.html -->

<section class="thanks-section ">
<div class="thanks-backdrop">
  <div class="thanks-section-container">
    <div class="thanks-header-modal">
      <div class="header-modal-container">
        <svg width="18" height="18">
          <use href="./images/sprite.svg#icon-Info"></use>
        </svg>
        <h2>Дякую</h2>
      </div>
      <!-- <div data-modal-close>
        <svg width="18" height="18">
          <use href="./images/sprite.svg#close-cross"></use>
        </svg>
      </div> -->
    </div>
<div class="thanks-flex-container">
    <div class="thanks-modal-img"></div>
    <div class="thanks-main-modal">
      <h1>Дякую, що залишили заявку</h1>
      <div class="thanks-main-modal-text">
        <p>
          Я вдячний за вашу довіру та готовий надати вам кваліфіковану юридичну
          допомогу.
        </p>
        <p>Найближчим часом я вам зателефоную, щоб обговорити вашу справу!</p>
      </div>
      <div class="thanks-main-modal-socials">
        <h3>Слідкуйте за мною в соціальних мережах</h3>
        <ul class="thanks-main-modal-social-icons">
          <li>
            <div class="social-icon-block">
              <a
                href="https://www.facebook.com/people/%D0%90%D0%B4%D0%B2%D0%BE%D0%BA%D0%B0%D1%82-%D0%A2%D0%B0%D1%80%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE-%D0%86%D0%B3%D0%BE%D1%80/100017282700952/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="social-link"
              >
                <svg class="main-social-icon">
                  <use href="././images/sprite.svg#icon-Facebook-modal"></use>
                </svg>
                <span class="social-title">Facebook</span>
              </a>
            </div>
          </li>
          <li>
            <div class="social-icon-block">
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="social-link"
              >
                <svg class="main-social-icon">
                  <use href="././images/sprite.svg#icon-Instagram-modal"></use>
                </svg>
                <span class="social-title">Instagram</span>
              </a>
            </div>
          </li>
          <li>
            <div class="social-icon-block">
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="social-link"
              >
                <svg class="main-social-icon">
                  <use href="././images/sprite.svg#icon-Tik-Tok-modal"></use>
                </svg>
                <span class="social-title">Tik Tok</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

      <div class="thanks-modal-btn">
        <button class="thanks-btn-submit" type="submit">Ok
          <span class="btn-icon">
            <svg >
              <use href="./images/sprite.svg#phone"></use>
            </svg>
          </span>
        </button>
      </div>
    
  </div>
</div>
</section>
