<!-- src\partials\includes\modal-order-window.html -->

<section class="main-order-section modal-order-window">
    <div class="backdrop" data-modal>
  <div
    class="modal-form"
    id="padding-container"
  >
    <div class="header-modal">
      <div class="header-modal-container">
        <svg >
          <use href="./images/sprite.svg#icon-Phone-modal"></use>
        </svg>
        <h2>Миттєва консультація</h2>
      </div>
      <button  class="close-button" data-modal-close>
      <svg >
        <use href="./images/sprite.svg#close-cross"></use>
      </svg>
    </button>
    </div>
    <div class="modal-flex-container">
      <div class="modal-pc-img"></div>
      <img src="./images/modal-order-igor_2x.webp">
      <div class="modal-block-container">
          <div class="order-form modal-form">
            <h2>Замовити консультацію</h2>
            <h3>Заповніть форму нижче і я зв'яжуся з вами найближчим часом</h3>
            <form action="#" class="form" method="POST">
              <label class="form-label">
                Ім'я
                <input
                  type="text"
                  data-validate-field="name"
                  name="name"
                  placeholder="Ввести ім'я"
              
                  class="form-input input-name input-modal-name"
                />
              </label>
              <label class="form-label">
                Номер телефону
                <input
                  type="tel"
                  data-validate-field="tel"
                  name="tel"
                  autocomplete="off"
                  placeholder="Ввести номер"
                  class="form-input input-tel input-modal-tel"
                />
              </label>
            </form>
          </div>
          <div class="main-socials modal-form">
            <h3 id="wrightme">Або напишіть мені:</h3>
            <ul class="main-social-icons modal-icons">
              <li>
                <div class="social-icon-block">
                  <a
                  href="viber://chat?number=380937531516"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    class="social-link"
                  >
                    <svg class="modal-social-icon">
                      <use href="././images/sprite.svg#icon-Viber-modal"></use>
                    </svg>
                    <span class="social-title social-title-modal">Viber</span>
                  </a>
                </div>
              </li>
              <li>
                <div class="social-icon-block">
                  <a
                    href="https://t.me/Advokat_Tarasenko_Igor"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    class="social-link"
                  >
                    <svg class="modal-social-icon">
                      <use href="./images/sprite.svg#icon-Telegram-modal"></use>
                    </svg>
                    <span class="social-title social-title-modal">Telegram</span>
                  </a>
                </div>
              </li>
              <li>
                <div class="social-icon-block">
                  <a
                  href="https://m.me/100017282700952"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    class="social-link"
                  >
                    <svg class="modal-social-icon">
                      <use href="./images/sprite.svg#icon-Messenger-modal"></use>
                    </svg>
                    <span class="social-title social-title-modal">Messenger</span>
                  </a>
                </div>
              </li>
              <li>
                <div class="social-icon-block">
                  <a
                  href="https://wa.me/380937531516"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    class="social-link"
                  >
                    <svg class="modal-social-icon">
                      <use href="./images/sprite.svg#icon-WhatsApp-modal"></use>
                    </svg>
                    <span class="social-title social-title-modal">WhatsApp</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <form class="modal-form" method="POST">
      <div class="modal-order-btn">
        <button class="btn-submit modal-submit-btn" data-modal-submit type="submit">
          Передзвонити
          <span class="btn-icon">
            <svg>
              <use href="./images/sprite.svg#phone"></use>
            </svg>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
</section>


