<section class="mystory-section-pc">
  <div class="mystory-container">
    <div class="hero-name mystory-name">
      <h2>Адвокат</h2>
      <h1>Ігор Тарасенко</h1>
      <h3>Ваш надійний захисник та партнер</h3>
    </div>

    <div class="aboutme-flex-text-container">
      <div class="aboutme-text-container">
        <div class="mystory-block-container">
          <div class="mystory-section-text" id="flex-text">
            <article>
              <p>Мене звуть Ігор Тарасенко, я професійний адвокат.</p>

              <p>
                У 2012 році закінчив Національний університет «Одеська юридична
                академія» факультет міжнародно-правових відносин.
              </p>

              <p>
                Після закінчення навчального закладу, присвятив своє життя
                боротьбі за справедливість працюючи в органах податкової служби
                та органах прокуратури України.
              </p>

              <p>
                Неоціненний практичний досвід здобув працюючи прокурором в Офісі
                Генерального прокурора. Протягом багатьох років практики в
                різних галузях права, засвоїв професійні навички у процесуальній
                та правозахисній діяльності.
              </p>
            </article>
          </div>
          <div class="mystory-section-text" id="block-text">
            <article>
              <p>
                Моє справжнє надбання, це вміння ефективно спілкуватись з людьми
                та вести перемовини для досягнення максимальних результатів
                співпраці для клієнта.
              </p>

              <p>
                Я, як професійний адвокат, готовий завжди надати якісну правову
                допомогу та підтримку.
              </p>

              <p>
                Звʼяжіться зі мною вже сьогодні, і ви отримаєте надійного
                юридичного партнера у вирішенні своїх правових питань.
              </p>

              <p>
                І на завершення тез моєї біографії, я професійний спортсмен із
                званням майстра спорту з боротьби самбо та являюсь срібним
                призером Чемпіонату світу з боротьби.
              </p>
            </article>
          </div>
        </div>
      </div>
      <div class="aboutme-img"></div>
    </div>

    <p id="mystory-slogan-text">
      Кінцевий результат для клієнта – це беззаперечне досягнення бажаної мети!
    </p>

    <button
      type="button"
      class="order-btn slogan-order-btn order-btn-aboutme"
      data-modal-open
    >
      Замовити консультацію
    </button>
  </div>
</section>
