<section class="main-order-section-pc">
    <div class="section-pc-container">
        <div class="message-pc-block-container">
            <div class="order-igor-tab-img"></div>
            <div class="main-socials page-form-socials">
                <h3>Або напишіть мені:</h3>
                <ul class="main-social-icons">
                <li>
                    <div class="social-icon-block">
                    <a
                    href="viber://chat?number=380937531516"
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        class="social-link page-form-social-link"
                    >
                        <svg class="main-social-icon">
                        <use href="././images/sprite.svg#icon-viber"></use>
                        </svg>
                        <span class="social-title page-form-social-title">Viber</span>
                    </a>
                    </div>
                </li>
                <li>
                    <div class="social-icon-block">
                    <a
                        href="https://t.me/Advokat_Tarasenko_Igor"
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        class="social-link page-form-social-link"
                    >
                        <svg class="main-social-icon">
                        <use href="./images/sprite.svg#icon-telegram"></use>
                        </svg>
                        <span class="social-title page-form-social-title">Telegram</span>
                    </a>
                    </div>
                </li>
                <li>
                    <div class="social-icon-block">
                    <a
                    href="https://m.me/100017282700952"
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        class="social-link page-form-social-link"
                    >
                        <svg class="main-social-icon">
                        <use href="./images/sprite.svg#icon-messenger"></use>
                        </svg>
                        <span class="social-title page-form-social-title">Messenger</span>
                    </a>
                    </div>
                </li>
                <li>
                    <div class="social-icon-block">
                    <a
                    href="https://wa.me/380937531516"
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        class="social-link page-form-social-link"
                    >
                        <svg class="main-social-icon">
                        <use href="./images/sprite.svg#icon-whatsapp"></use>
                        </svg>
                        <span class="social-title page-form-social-title">WhatsApp</span>
                    </a>
                    </div>
                </li>
                </ul>
            </div>
        </div>
        <div class="message-pc-block-container form-container">
            <div class="page-form-title">
                <h2>Замовити консультацію</h2>
                <h3>Заповніть форму нижче i я зв'яжуся з вами найближчим часом</h3>
            </div>
            <div class="feedback-form">
                <form action="#" class="form form-order-form" method="POST">
                    <label class="form-label page-form-label"
                    >Ім'я
                    <input
                        type="text"
                        data-validate-field="name"
                        name="name"
                        placeholder="Ввести ім'я"
                        class="form-input input-name"
                    />
                    </label>
                    <label class="form-label page-form-label"
                    >Номер телефону
                    <input
                        type="tel"
                        data-validate-field="tel"
                        name="tel"
                        placeholder="Ввести номер"
                        class="form-input input-tel"
                    />
                    </label>
                    <button class="btn-submit page-form-btn" data-modal-submit type="submit">
                    Передзвонити
                    <span class="btn-icon ">
                        <svg width="17" height="16">
                        <use href="./images/sprite.svg#phone"></use>
                        </svg>
                    </span>
                    </button>
                </form>
            </div>
        </div>

    </div>
</section>