<section class="service-types-section">
  <div class="service-types-section-container">
    <h1>Послуги</h1>
    <p>
      Тут ви знайдете найпоширеніші послуги, які я готовий надати вам. Якщо ви
      не знайшли потрібну послугу у переліку, не соромтеся зв'язатися зі мною -
      разом ми знайдемо оптимальне рішення для вашої потреби.
    </p>
    <div class="select-container">
      <label for="service"></label>
      <select id="service" name="service">
        <option value="xs" selected>Міграційні послуги</option>
        <option value="#">Кримінальна практика</option>
        <option value="#" >Податкова практика</option>
        <option value="#">Fintech</option>
        <option value="#">Цивільна практика</option>
        <option value="#">Адміністративна практика</option>
        <option value="#">Інтелектуальна власність</option>
        <option value="#">Військове право</option>
        <option value="#">Повернення боргів</option>
        <option value="#">Захист прав боржника</option>
        <option value="#">Трудове право</option>
        <option value="#">Адвокат для бізнесу</option>
      </select>
    </div>
  </div>
</section>
