<section class="service-types-section">
  <div class="service-types-section-container">
    <h2>Послуги</h2>
    <p>
      Тут ви знайдете найпоширеніші послуги, які я готовий надати вам. <br>
      Якщо ви не знайшли потрібну послугу у переліку, не соромтеся зв'язатися зі мною -
      разом ми знайдемо оптимальне рішення для вашої потреби.
    </p>
    <div class="select-container">
      <label for="service"></label>
      <div class="custom-select">
      <select id="service" name="service" >
        <option data-url="migration-services.html">Міграційні послуги</option>
        <option data-url="criminal-law.html">Кримінальна практика</option>
        <option data-url="tax-law.html">Податкова практика</option>
        <option data-url="fintech.html" >Fintech</option>
        <option data-url="civil-law.html">Цивільна практика</option>
        <option data-url="administrative-law.html">Адміністративна практика</option>
        <option data-url="intellectual-property.html">Інтелектуальна власність</option>
        <option data-url="military-law.html">Військове право</option>
        <option data-url="debt-recovery.html">Повернення боргів</option>
        <option data-url="debtor-protection.html">Захист прав боржника</option>
        <option data-url="labor-law.html">Трудове право</option>
        <option data-url="business-law.html" >Адвокат для бізнесу</option>
      </select>
      <div class="select-arrow"><img src="./images/select-arrow.png" alt="" /></div>
    </div>
    </div>
  </div>
</section>

  
