<section class="service-types-section">
  <div class="service-types-section-container">
    <h1>Послуги</h1>
    <p>
      Тут ви знайдете найпоширеніші послуги, які я готовий надати вам. <br>
      Якщо ви не знайшли потрібну послугу у переліку, не соромтеся зв'язатися зі мною -
      разом ми знайдемо оптимальне рішення для вашої потреби.
    </p>
    <div class="select-container">
      <label for="service"></label>
      <div class="custom-select">
      <select id="service" name="service"  onchange="redirectToPage(this)">
        <option data-url="migration-services.html" selected>Міграційні послуги</option>
        <option value="#">Кримінальна практика</option>
        <option value="#" >Податкова практика</option>
        <option data-url="index.html">Fintech</option>
        <option value="#">Цивільна практика</option>
        <option value="#">Адміністративна практика</option>
        <option value="#">Інтелектуальна власність</option>
        <option value="#">Військове право</option>
        <option value="#">Повернення боргів</option>
        <option value="#">Захист прав боржника</option>
        <option value="#">Трудове право</option>
        <option value="#">Адвокат для бізнесу</option>
      </select>
      <div class="select-arrow"><img src="./images/select-arrow.png" alt="" /></div>
    </div>
    </div>
  </div>
</section>
<script>
function redirectToPage(selectElement) {
  const selectedOption = selectElement.options[selectElement.selectedIndex];
  const url = selectedOption.getAttribute('data-url');
  if (url) {
    const prefix = '/advocatapp'; // Префикс для вашего проекта
    const fullUrl = prefix + '/' + url;
    window.location.href = fullUrl;
  }
}
  </script>
