<div class="side-service-buttons-container">

    <ul class="service-buttons">
        <li><a href="migration-services.html" data-url="migration-services.html">
            <div class="btn-title">
                <img src="./images/migration-logo.png" alt="#" />
                <h3>Міграційні послуги</h3>
            </div>
            </a>
        </li>
        <li><a href="criminal-law.html" data-url="criminal-law.html">
            <div  class="btn-title">
                <img src="./images/criminal-law.png" alt="#" />
                <h3>Кримінальна практика</h3>
            </div>           
            </a>
        </li>
        <li><a href="tax-law.html" data-url="tax-law.html">
            <div class="btn-title">
                <img src="./images/tax-law.png" alt="#" />
                <h3>Податкова практика</h3>
            </div>
                </a>
        </li>
        <li><a href="fintech.html" data-url="fintech.html">
            <div class="btn-title">
                <img src="./images/fintech.png" alt="#" />
                <h3>Fintech</h3>
            </div>
            </a>
        </li>
        <li><a href="civil-law.html" data-url="civil-law.html">
            <div class="btn-title">
                <img src="./images/civil-law.png" alt="#" />
                <h3>Цивільна практика</h3>
            </div>
            </a>
        </li>
        <li><a href="administrative-law.html" data-url="administrative-law.html">
            <div class="btn-title">
                <img src="./images/administrative-law.png" alt="#" />
                <h3>Адміністративна практика</h3>
            </div>
            </a>
        </li>
        <li><a href="intellectual-property.html" data-url="intellectual-property.html">
            <div class="btn-title">
                <img src="./images/intellectual-property.png" alt="#" />
                <h3>Інтелектуальна власність</h3>
            </div>
            </a>
        </li>
        <li><a href="military-law.html" data-url="military-law.html">
            <div class="btn-title">
                <img src="./images/military-law.png" alt="#" />
                <h3>Військове право</h3>
            </div>
            </a>
        </li>
        <li><a href="debt-recovery.html" data-url="debt-recovery.html">
            <div class="btn-title">
                <img src="./images/debt-recovery.png" alt="#" />
                <h3>Повернення боргів</h3>
            </div>
            </a>
        </li>
        <li><a href="debtor-protection.html" data-url="debtor-protection.html">
            <div class="btn-title">
                <img src="./images/debtor-protection.png" alt="#" />
                <h3>Захист прав боржника</h3>
            </div>
            </a>
        </li>
        <li><a href="labor-law.html" data-url="labor-law.html">
            <div class="btn-title">
                <img src="./images/labor-law.png" alt="#" />
                <h3>Трудове право</h3>
            </div>
            </a>
        </li>
        <li><a href="business-law.html" data-url="business-law.html">
            <div class="btn-title">
                <img src="./images/business-law.png" alt="#" />
                <h3>Адвокат для бізнесу</h3>
            </div>
            </a>
        </li>
    </ul>
</div>