<div class="side-service-buttons-container">

    <ul class="service-buttons">
        <li>Міграційні послуги</li>
        <li>Кримінальна практика</li>
        <li>Податкова практика</li>
        <li>Fintech</li>
        <li>Цивільна практика</li>
        <li>Адміністративна практика</li>
        <li>Інтелектуальна власність</li>
        <li>Військове право</li>
        <li>Повернення боргів</li>
        <li>Захист прав боржника</li>
        <li>Трудове право</li>
        <li>Адвокат для бізнесу</li>
    </ul>
</div>