<div class="side-service-buttons-container">

    <ul class="service-buttons">
        <li><a href="migration-services.html" data-url="migration-services.html">Міграційні послуги</a></li>
        <li><a href="criminal-law.html" data-url="criminal-law.html">Кримінальна практика</a></li>
        <li><a href="tax-law.html" data-url="tax-law.html">Податкова практика</a></li>
        <li><a href="fintech.html" data-url="fintech.html">Fintech</a></li>
        <li><a href="civil-law.html" data-url="civil-law.html">Цивільна практика</a></li>
        <li><a href="administrative-law.html" data-url="administrative-law.html">Адміністративна практика</a></li>
        <li><a href="intellectual-property.html" data-url="intellectual-property.html">Інтелектуальна власність</a></li>
        <li><a href="military-law.html" data-url="military-law.html">Військове право</a></li>
        <li><a href="debt-recovery.html" data-url="debt-recovery.html">Повернення боргів</a></li>
        <li><a href="debtor-protection.html" data-url="debtor-protection.html">Захист прав боржника</a></li>
        <li><a href="labor-law.html" data-url="labor-law.html">Трудове право</a></li>
        <li><a href="business-law.html" data-url="business-law.html">Адвокат для бізнесу</a></li>
    </ul>
</div>