<section class="steps-section">
    <div class="steps-section-container">
       <div class="four-steps">
            <h2>4 Кроки до успішного вирішення вашої справи</h2>
            <p>Як працювати з адвокатом на кожному етапі вашої справи. Від першої зустрічі до вирішення проблеми - я вам допоможу крок за кроком.</p>
       </div> 
       <div class="flex-steps-container">
       <div class="steps-container">
            <div class="first-step">
                <div class="step">1</div>
                <h3>Консультація та аналіз ситуації</h3>
                <ul class="step-details">
                    <li>Зустріч або зв'язок з адвокатом для обговорення вашого питання.</li>
                    <li>Подання всієї необхідної інформації та документації для аналізу</li>
                </ul>
            </div>
       </div>
       <div class="steps-container">
        <div class="first-step">
            <div class="step">2</div>
            <h3>Розробка стратегії</h3>
            <ul class="step-details">
                <li>Адвокат проводить детальний аналіз вашої справи.</li>
                <li>Визначення можливих варіантів дій та стратегій для досягнення ваших цілей.</li>
            </ul>
        </div>
        </div>
        <div class="steps-container">
            <div class="first-step">
                <div class="step">3</div>
                <h3>Виконання дій та представництво</h3>
                <ul class="step-details">
                    <li>Адвокат проводить всі необхідні дії для реалізації обраної стратегії.</li>
                    <li>Представництво вас та захист ваших інтересів перед правоохоронними органами, судом або іншими відомствами.</li>
                </ul>
            </div>
       </div>
       <div class="steps-container">
            <div class="first-step">
                <div class="step">4</div>
                <h3>Моніторинг та підтримка</h3>
                <ul class="step-details">
                    <li>Постійний моніторинг ситуації та вжиття відповідних заходів у разі зміни обставин.</li>
                    <li>Надання вам регулярних оновлень та консультацій з питань вашої справи.</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>